

<div class="contain">
  <div class="container"> 
    <div class="text-center">

         
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" novalidate enctype="multipart/form-data">
    <input type="text" formControlName="name" placeholder="name" class="d-block">
    <input type="email" formControlName="email" placeholder="email" class="d-block">
    <input type="text" formControlName="phone" placeholder="phone" class="d-block">
    <input type="text" formControlName="password" placeholder="password" class="d-block">
     <h5 class="text-left">location</h5>
     <select id="location" formControlName="location" class="d-block">
      
      
        <option *ngFor="let c of cities" [ngValue]="c">{{ c }}</option>
    </select> 
    <h5 class="text-left">select company image</h5>
    <input type="file" name="myFile" (change)="onFileChange($event.target.files)" placeholder="Your message" class="d-block">
    <!-- submit form upload image first then add company -->
    <button type="submit" class="d-block">Send</button>
  </form>


    </div> 

  </div>
      
</div> 

