.side{
    min-height: 80vh;
}

.req{

   border-radius: 4px; 
   box-shadow: 1px 1px 1px #5e5e5e; 

   p{
       font-size: 24px; 
       margin-bottom: 0; 
   }
   i{
       margin-right: 10px; 
   }
}