
<section class="addP "> 
 <div class="container"> 
   <div class="intro border-bottom"> 
     <h3>insert package details :</h3>
   </div>
   
     <!-- start form  -->
     <div class="contain">
         <div class="container">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" novalidate enctype="multipart/form-data" >

              <input type="text" formControlName="name" placeholder="package name"  >
         

              <div class="place"> 
                  <select id="location" formControlName="from" class="d-block">
                      <option value="" disabled selected>Destination</option>
                      <option *ngFor="let c of cities" [ngValue]="c">{{ c }}</option>
                    </select>
    
                    <select id="location" formControlName="to" class="d-block"  >
                        <option value="" disabled selected>Depature</option>
                      <option *ngFor="let c of cities" [ngValue]="c">{{ c }}</option>
                    </select>

              </div>

             

        
          
         
          <input type="number" formControlName="duration" placeholder="duration" class="d-block">
          <input type="text" formControlName="price" placeholder="Adult person price" class="d-block">
          <input type="text" formControlName="discounted" placeholder="Child price" class="d-block">
          <input type="number" formControlName="tickets" placeholder="Available tickets" class="d-block">
          <!-- <input type="text" formControlName="desc" placeholder="package description" class="d-block"> -->
          <textarea  class="d-block" name="" id="" cols="30" rows="5" formControlName="desc" placeholder="package description">


          </textarea>
   
          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- hidden input of choosing file -->
          <input type="file" name="myFile" (change)="onFileChange($event.target.files)" placeholder="Your message" hidden #open>
          <!-- image will appear here when uploaded -->
          <div class="row justify-content-center">
            <div class="col-9 m-2 p-2 bg-light" *ngIf="paths.length>0">
              <div class="row">
                <div class="col-3 mb-3" *ngFor="let path of paths">
                  <img src={{host+path}} class="img-fluid img-thumbnail">
                  <a (click)="deleteImage(path)" class="btn btn-danger">delete</a>
                </div>
              </div>
            </div>
            <!-- visible button to choose file -->
            <div class="col-12">
                <a (click)="open.click()" class="btn btn-secondary">choose package image</a>
            </div>
          </div>
          <button type="submit">Send</button>
        </form> 
         </div>   
      </div>   
   

     <!-- end form  -->
   

 </div>
</section>












