<section> 
    <div class="row pt-3">
      <!-- add new city -->
      <div class="col-9 pt-3">
          <div class="container add">
            
              <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" novalidate enctype="multipart/form-data">
                <input type="text" formControlName="name" placeholder="city name">
                <!-- hidden button of upload image -->
                <input type="file" name="myFile" (change)="onFileChange($event.target.files)" placeholder="choose image" hidden #open>
                <!-- visible button of upload image -->
                <div class="row">
                  <div class="col-lg-4">
                      <a class="btn btn-success m-1 text-light" (click)="open.click()">choose image</a>
                  </div>
                </div>
                
                <!-- image name -->
                <div *ngIf="cityName">
                  <p>{{cityName}}</p>
                </div>
                <!-- submit form upload image first then add company -->
                <button type="submit" class="send-bt">Send</button>
              </form> 
          </div>
      </div>
      <!-- side menu of available cities -->
      <div class="col-3 border-left bg-light pt-3 side">
        <p class="pt-2 pb-2 border-bottom"><strong>
          Available Cities
        </strong></p>
        <ul>
          <li *ngFor="let city of cities">
            <p><strong>{{city}}</strong></p>          
          </li>
        </ul>   
      </div>
    </div>
  </section>