<div class="container">
  <div class="row justify-content-end">
    <div class="col-3 text-right pb-4 pt-4">
        <a (click)="add()" class="btn btn-success">+ Add Packages</a>
    </div>
  </div>
  
 

  <section class="packages"  *ngIf="myPackages.length>0">
      <div class="container py-3">
        <div class="card py-3 px-2 my-2" *ngFor="let package of myPackages">

          <div class="row ">
            <div class="col-md-4">
                <img src={{package.paths[0]}}  class="w-100" alt={{package.p_name}}>
              </div>
              <div class="col-md-8">
                <div class="card-block px-3">
                  
                  <p class="card-title text-capitalize"><strong>{{package.p_name}}</strong></p>
                  <p class="card-text d-block"> <i class="fas fa-calendar-week"></i>{{package.date}}</p>
                  <hr> 
                  <div class="myContent"> 
                      <div class="row justify-content-between ">
                          <div class="col-6">
                              <i class="fas fa-map-marker-alt"></i> <p>From : <strong>{{package.travel_from}}</strong></p>
                          </div>
                          <div class="col-6 text-right">
                              <i class="fas fa-map-marked-alt"></i>
                            <p>To : <strong>{{package.travel_to}}</strong></p>
                          </div>
                      </div>
                      

                      <div class="row justify-content-between  ">
                          <div class="col-6">
                              <i class="fas fa-ticket-alt"></i> <p>Total Tickets : <strong>{{package.avail_tickets}}</strong></p>
                          </div>
                          <div class="col-6 text-right">
                              <i class="fas fa-check"></i> <p>Available : <strong>{{package.avail}}</strong></p>
                          </div>
                      </div>
                      <div class="row justify-content-between  ">
                          <div class="col-6">
                              <p>Adults : <strong>{{package.adults}}</strong></p>
                          </div>
                          <div class="col-6 text-right">
                            <p>Children : <strong>{{package.children}}</strong></p>
                          </div>
                      </div>


                  </div>
<hr>
<small class="text-muted">Published: {{package.addingDate}}</small>
                  <div class=" buttons d-flex justify-content-end">
                      <a (click)="details(package)" class="btn btn-primary">Details</a>
                      <a (click)="delete(package)" (click)="delete(package)" class="btn btn-danger ml-2">delete</a>
                    
                   </div>
                 
                </div>
              </div>
    
            </div>
          </div>

        </div>
     
    </section>



</div>
