
//   welaa

// .dash{
//     background-color: #fff;
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//     min-height: 100vh;
  
// }




// islam  

.dash{
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-height: 100vh;
    // height: 100%;


    h3{

        text-align:  center; 
         color: #3D3D3D; 
         text-transform: capitalize; 
        //  border-bottom: 1px solid #3333; 
        //  padding: 18px; 
         font-weight: normal; 
         font-size: 24px; 
         
       
    }
    h5{
        color: #3D3D3D; 
        text-align: left; 
        margin: 10px; 
        i{
            color: #3D3D3D; 
            margin-right: 10px; 
            
        }
    }

    .btn{
        background-color: transparent; 
        border: none; 
        

        
    }
    a{
        margin-bottom: 20px; 
    }

    a:hover{
      
        background-color: #510567; 
        h5{
            color: white; 
        }
        i{
          color:white; 
        }
        

    }
   
}




