<div class="container dash">
  <header>
    <h3>company name</h3>
    <p >******</p>
  </header>
  <main>
      <a routerLink="/admin" class="btn btn-outline-primary btn-lg btn-block">
          <h5>My Packages</h5>
        </a>
        <a href="" class="btn btn-outline-primary btn-lg btn-block">
          <h5>My Profile</h5>
        </a>
        <a href="" class="btn btn-outline-primary btn-lg btn-block">
          <h5>Available Cities</h5>
        </a>
        <a href="" class="btn btn-outline-primary btn-lg btn-block">
          <h5>Other Companies</h5>
        </a>
        <a href="" class="btn btn-outline-primary btn-lg btn-block">
          <h5>Cities Statistics</h5>
        </a>
        <a href="" class="btn btn-outline-primary btn-lg btn-block">
          <h5>My Performance</h5>
        </a>
  </main>
</div>