<div class="container dash">
  <header class="border-bottom pb-4 pt-3">
    <div class="row justify-content-start align-items-center ">
      <div class="col-4">
        <img class="rounded-circle img-thumbnail img-fluid mb-2" src={{image}} alt={{company}}>
      </div>
      <div class="col-4 align-items-center">
        <h3>{{company}}</h3>
      </div>
    </div>
  </header>
  <main>
      <a routerLink="/admin" class="btn btn-outline-primary btn-lg btn-block">
          <h5><i class="fas fa-briefcase"></i>My Packages</h5>
        </a>
        <a routerLink="/admin/myprofile" class="btn btn-outline-primary btn-lg btn-block">
          <h5><i class="fas fa-user-tie"></i>My Profile</h5>
        </a>
        <a routerLink="/admin/availablecities" class="btn btn-outline-primary btn-lg btn-block">
          <h5><i class="fas fa-city"></i>Available Cities</h5>
        </a>
        <a routerLink="/admin/cityrequest" class="btn btn-outline-primary btn-lg btn-block">
          <h5><i class="fas fa-bell"></i>Cities Requests</h5>
        </a>
        <a routerLink="/admin/companies" class="btn btn-outline-primary btn-lg btn-block">
          <h5><i class="fas fa-building"></i>Other Companies</h5>
        </a>
        <a routerLink="/admin/statistics" class="btn btn-outline-primary btn-lg btn-block">
          <h5><i class="far fa-chart-bar"></i>Statistics</h5>
        </a>
  </main>
</div>