.card{
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    border-radius: 8px; 
    p{
        padding: 0; 
        margin: 0; 
    }

    .rounded-circle{

        border:  1px solid #F8B500; 

        box-shadow: 1px 1px 3px #3d3d3d; 
    }

    h5{
        color:#510567;
    }
}

.card-body .row:first-child{

    // visibility: hidden;
    align-items: center; 

}


.card-body .row{

    margin-bottom: 20px; 
}

.rate{
    color: #F8B500; 
}

i{
    margin-right: 5px; 
}