
.conta{
    box-shadow: 1px 1px 2px #818181; 
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px; 
}
.details{

     img{
         border-radius: 10px; 
     }

     
    background-color: white; 




    i{
        margin-right: 10px; 
        color: #1492E6; 
        font-size: 14px; 
    
    }
    .rate{
        color: #FFA726;
        font-size: 18px; 
    }
    .images{
        border: 2px solid #FFA726;
        border-radius: 4px; 
        box-shadow: 1px 1px 2px #818181; 
    }

}
.btn{
    color: white !important; 
}

table{
    border: 2px solid #FFA726;
    border-radius: 4px; 
}

.des{
    
   
}