<section>
  <div class="container pt-4 pb-4">
    <!-- add new city if admin -->
    <div class="row justify-content-end pt-3 pb-3">
        <div class="col-3 text-right" *ngIf="role=='admin'">
            <a class="btn btn-success m-1 text-light" routerLink="/admin/addcity">+ add city</a>
        </div>
      </div>
    <!-- all available cities -->
    <div class="row">
      <!-- looping all available cities -->
      <div class="col-3" *ngFor = "let city of cities">
          <div class="card mb-3 city">
              <img class="card-img-top" src={{host+city.city_photo}} alt={{city.city_name}} height="60%">
              <div class="card-body">
                <h5 class="card-title"><strong>{{city.city_name}}</strong></h5>
                <div class="row">
                  <div class="col-4 pb-2">
                      <a (click)="delete(city)" class="btn btn-danger text-light">Delete</a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>